.page-home{
  max-height: calc(100dvh - 48px - 48px);
  overflow-y: auto;

  @media (width < 767px) {
    max-height: calc(100dvh - 48px);
  }

  .full-section{
    background-color: green;
    text-align: center;
  }
}