*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
.app{
  position: relative;
  background-color: pink;
  height: 100dvh;
  overflow: hidden;
}
.app-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: lightblue;
}