@media (width < 767px) {
  .app{
    background-color: rgb(255, 109, 109);
  }
  .app-header{
    background-color: rgb(141, 141, 248);
  }
  .app-footer{
    background-color: rgb(141, 141, 248);
  }
}

@media (768px < width < 1023px) {
  .app{
    background-color: rgb(223, 79, 79);
  }
  .app-header{
    background-color: rgb(95, 95, 206);
  }
  .app-footer{
    background-color: rgb(95, 95, 206);
  }
}

@media (1024px < width < 1199px) {
  .app{
    background-color: rgb(143, 56, 56);
  }
  .app-header{
    background-color: rgb(51, 51, 119);
  }
  .app-footer{
    background-color: rgb(51, 51, 119);
  }
}

@media (1200px < width) {
  .app{
    background-color: rgb(100, 28, 28);
  }
  .app-header{
    background-color: rgb(19, 19, 78);
  }
  .app-footer{
    background-color: rgb(19, 19, 78);
  }
}